# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
admin.env
.env
_meta
.serverless

# General exclusion
.vscode
node_modules
venv
wvenv
dist
__pycache__
build
AiDPublisher.spec
AiDPublisher.ini

*.iml
